<section class="student-page">
	<div class="student-page-header">
		<div>
			<h3>Students</h3>
			<p>Manage student records and enrolment information.</p>
		</div>
    <button class="btn btn-primary" (click)="onOpenAdd()"><i class="bi bi-person-plus-fill me-2"></i>Add Student</button>
	</div>

	<app-base-table
  [columns]="studentColumns"
  [rows]="students"
  [title]="'All Students'"
  [showRowNumber]="true"
  [showActions]="true"
  (onView)="handleView($event)"
  (onUpdate)="handleUpdate($event)"
  (onDelete)="handleDelete($event)"
></app-base-table>
</section>

<app-add-data-modal
  entity="Student"
  [visible]="showAdd"
  [fields]="studentFields"
  [initialData]="modalInitial"
  [mode]="modalMode"
  (close)="onCloseAdd()"
  (save)="onSaveItem($event)">
</app-add-data-modal>
